// .candidatePicture {
//     border-radius: 50%;
// }
.dropdown-item {
  cursor: pointer;
}
.candidate_workExperience {
  padding: 10px;
  background-color: white;

  p {
    color: black;
  }

  .candidate_workExperience__description {
    word-wrap: break-word;
  }
}

.status-cont {
  display: flex;
  .status-collor {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-left: 10px;
  }
}
