@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

.form_block {
  background: aliceblue;

  .container {
    max-width: 1170px;

    .lavel_present {
      margin-bottom: 0;
    }

    .photo_section {
      img {
        max-height: 160px;
        margin-bottom: 19px;
      }
    }
  }

}

h1 {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.reqField {
  color: red;
}

.education_name__input,
.education_add__btn,
.education_remove__btn {
  height: 54px;
}

.education_add__btn {
  width: 100%;
}

.example-form {
  min-width: 150px;
  // max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.nb-theme-default nb-checkbox.status-basic .text {
  padding-left: 10px;
}

@media only screen and (max-width: 400px) {
  ::ng-deep .mat-form-field-type-mat-input {
    max-width: 159px;
  }
}

.photo_upload {
  position: relative;

  .photo_file {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 1.4em;
    position: absolute;
    bottom: 7px;
    left: 262px;
    width: 50%;
    background: #F0F8FF;
  }
}

.file_upload {
  position: relative;

  .file_Name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 1.4em;
    position: absolute;
    top: 0px;
    left: 244px;
    width: 50%;
    background: #F0F8FF;
  }
}

::ng-deep .mat-form-field {
  width: 100%;
}

.firstLastName>.form-group {
  margin-bottom: 0;
}

.dateOfBirth {
  ::ng-deep .mat-form-field-flex {
    padding: 1em 0.75em;
  }
}