<!-- footer -->
<footer class="bg contact-cover padding-20px-tb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-1 order-xs-1 order-1 order-md-1"></div>
            <div class="col-md-3 order-xs-2 order-2 order-md-2">
                <div class="text-small text-uppercase footer-nav font-weight-600 text-white text-left-lg">
                    <p><i class="fa fa-envelope mr-3"></i> <a href="mailto:contact@way2up.am" target="_blank">contact@way2up.am</a></p>
                    <p><i class="fa fa-envelope mr-3"></i> <a href="mailto:career@way2up.am" target="_blank">career@way2up.am</a></p>
                </div>
            </div>
            <div class="col-md-3 order-xs-4 order-4 order-md-3">
               
                <div class="text-center footer-social text-right xs-text-center xs-margin-10px-top">
                    <a href="https://www.facebook.com/way2up.am/" target="_blank" class="facebook-text-hvr"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/company/way2up/" target="_blank" class="linkedin-text-hvr"><i class="fab fa-linkedin-in"></i></a>
                    <a href="skype:way2up.armenia" target="_blank" class="skype-text-hvr"><i class="fab fa-skype"></i></a>
                    <a href="mailto:contact@way2up.am" target="_blank" class="google-text-hvr"> <i class="fab fa-google-plus-g"></i></a>
                </div>
                <div class="text-center text-small text-white xs-text-center xs-margin-15px-bottom"> © <span class="year"></span>
                    <a href="https://way2up.am/index" class="text-white font-weight-600">WAY2UP</a>
                </div>
            </div>
          
            <div class="col-lg-4 col-md-4 order-xs-3 order-3 order-md-4 hidden-xs hidden-sm">
                <div class="text-small text-uppercase footer-nav font-weight-600 text-white text-right-lg">
                    <p><i class="fa fa-phone mr-3"></i> <a href="tel:+37455575994">Yerevan,<i class="fa fa-skype"></i>  Armenia + 374 55 57 59 94</a></p>
                    <p><i class="fa fa-phone mr-3"></i> <a href="tel:+491627935547">Berlin, Germany + 49 162 793 55 47</a></p>
                </div>
            </div>
            <div class="col-md-1 order-xs-5 order-5 order-md-5">
                <a class="scroll-top-arrow bg-red-gradient"  (click)="toTop()" href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</footer>