 .navbar {
   border-bottom: 3px solid rgb(203, 52, 43);
   padding: 0;

   .nav-header-container {
     max-width: 1170px;
   }

   .header_row {
     width: 100%;

     .logo_block {
       display: flex;
       align-items: center;
     }

     .toogleMenu {
       float: right;
     }

     .logo-light {
       max-width: 130px;
     }

     .navbar-nav {

      

       .nav-item:last-child {
         display: flex;
         align-items: center;
         padding-left: 45px;
       }

       .login-btn {
        padding-left: 140px !important;
      }

       .nav-link {
         font-size: 12px;
         font-weight: 600;
         color: #232323;
         position: relative;
         overflow: hidden;
         padding: 20px 0;
         margin: 0 20px;
         text-transform: uppercase;
         letter-spacing: 0.015em;
         font-family: 'Raleway', sans-serif;
       }

       .nav-link:hover {
         &::before {
           position: absolute;
           content: '';
           width: 100%;
           display: table;
           height: 4px;
           bottom: 16px;
           border-radius: 8px;
           transform: scaleX(1);
           visibility: visible;
           opacity: 1;
           background: rgb(203, 52, 43);
           transition: all 300ms linear;
         }
       }

       .logged_User {
         text-align: center;
         cursor: pointer;
         position: relative;

         img {
           width: 40px;
           height: 40px;
           border-radius: 50px;
         }

         span {
           margin-left: 0.5rem;
         }

         .context_menu {
           position: absolute;
           left: -4px;
           top: 45px;
           z-index: 999;
           background-color: #ECF0F6;
           border-radius: 0.25rem;
           overflow: hidden;
           text-align: center;
           box-shadow: 2px 4px 6px 4px rgba(7, 7, 24, 0.2);

           .menu-items {
             list-style-type: none;
             overflow: hidden;
             padding: 20px 50px;
             cursor: default;

             .menu-item {
               width: 55px;
               cursor: pointer;
               color: #222b45;
               font-family: Open Sans, sans-serif;
               font-size: 0.9375rem;
               font-weight: 400;
               line-height: 1.25rem;
             }

             .logout {
               margin-top: 10px;
             }
           }
         }


       }
     }
   }

 }

 @media only screen and (max-width: 1000px) {

   .nav-header-container {

     padding: 15px;

     .toogleMenu {
       position: absolute;
       right: 0;
       top: -30px;
     }

     .navbar-nav {
       .nav-item:last-child {
         position: absolute;
         right: 0;
       }

       .nav-link {
         display: inline-block;
         font-size: 16px !important;
       }
     }
   }

 }