<div class="row">
    <div class="col-md-3 offset-md-9 mt-2">
        <button [routerLink]="['/auth']" type="button" class="btn btn-outline-info">Admin Panel</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
        <h1>Job Application Form</h1>
        <form [formGroup]="form" (ngSubmit)="sendForm()">
            <div class="form-group">
                <label for="exampleInputFirstName">First Name <span class="reqField">*</span></label>
                <input type="text" name="firstName" formControlName="firstName" class="form-control"
                    id="exampleInputFirstName" placeholder="Enter your first name" required="required">
            </div>
            <div class="form-group">
                <label for="exampleInputLastName">Last Name <span class="reqField">*</span></label>
                <input type="text" name="lastName" formControlName="lastName" class="form-control"
                    id="exampleInputLastName" placeholder="Enter your last Name" required="required">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" required="required">Email address <span
                        class="reqField">*</span></label>
                <input type="email" name="email" formControlName="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter your email address">
            </div>
            <div class="form-group">
                <label>Position <span class="reqField">*</span></label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{selectedPosition}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" *ngFor="let pos of positionArr" (click)="selectPosition(pos)"
                            href="javascript:">{{pos}}</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="example-tel-input">Skills</label>
                <ul class="list-group ">
                    <li class="list-group-item" *ngFor="let skillRating of skillAndRatingArr; let i = index">
                        <div class="row">
                            <div class="col-6">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        {{skillRating.skill}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" *ngFor="let skill of skillArr"
                                            (click)="selectSkill(skill, i)" href="javascript:">{{skill}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="dropdown" *ngIf='skillRating.showRating'>
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        {{skillRating.rating}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" *ngFor="let rating of ratingArr"
                                            (click)="selectRating(rating, i)" href="javascript:">{{rating}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div *ngIf='skillAndRatingArr.length > 1 && skillRating.showRating'>
                                    <button type="button" class="btn btn-danger"
                                        (click)="removeRowSkill(i)">Remove</button>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>

            <div class="form-group">
                <label for="inputCity">Education</label>
                <ul class="list-group ">

                    <li class="list-group-item" *ngFor="let education of educationArr; let i = index">
                        <div class="row ">
                            <div class="col-4">
                                <div class="input-group ">
                                    <input type="text" placeholder="Name" [(ngModel)]="education.name"
                                        [ngModelOptions]="{standalone: true}"
                                        class="form-control education_name__input">
                                </div>
                            </div>

                            <div class="col-6">

                                <mat-form-field appearance="fill">
                                    <mat-label>Enter a date range</mat-label>
                                    <mat-date-range-input [formGroup]="education.date" [rangePicker]="picker">
                                        <input matStartDate formControlName="start" placeholder="Start date">
                                        <input matEndDate formControlName="end" placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>

                                    <mat-error *ngIf="education.date.controls.start.hasError('matStartDateInvalid')">
                                        Invalid
                                        start date</mat-error>
                                    <mat-error *ngIf="education.date.controls.end.hasError('matEndDateInvalid')">Invalid
                                        end
                                        date</mat-error>
                                </mat-form-field>

                            </div>

                            <div class="col-2">
                                <button type="button" class="btn btn-danger education_remove__btn"
                                    (click)="removeEducation(i)">Remove</button>
                            </div>

                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary education_add__btn"
                                    (click)="addEducation()">Add</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="form-group">
                <label for="inputCity">Work experience</label>
                <ul class="list-group ">

                    <li class="list-group-item" *ngFor="let work of workExperienceArr; let i = index">
                        <div class="row ">
                            <div class="col-5">
                                <div class="input-group ">
                                    <input type="text" placeholder="Name" [(ngModel)]="work.name"
                                        [ngModelOptions]="{standalone: true}"
                                        class="form-control education_name__input">
                                </div>
                            </div>

                            <div class="col-5">
                                <div class="input-group ">
                                    <input type="text" placeholder="Position" [(ngModel)]="work.position"
                                        [ngModelOptions]="{standalone: true}"
                                        class="form-control education_name__input">
                                </div>
                            </div>

                            <div class="col-2">
                                <button type="button" class="btn btn-danger education_remove__btn"
                                    (click)="removeWorkExperience(i)">Remove</button>
                            </div>

                            <div class="col-6 mt-3">

                                <mat-form-field appearance="fill">
                                    <mat-label>Enter a date range</mat-label>
                                    <mat-date-range-input [formGroup]="work.date" [rangePicker]="picker">
                                        <input matStartDate formControlName="start" placeholder="Start date">
                                        <input matEndDate formControlName="end" placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>

                                    <mat-error *ngIf="work.date.controls.start.hasError('matStartDateInvalid')">
                                        Invalid
                                        start date</mat-error>
                                    <mat-error *ngIf="work.date.controls.end.hasError('matEndDateInvalid')">Invalid
                                        end
                                        date</mat-error>
                                </mat-form-field>

                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control"  [ngModelOptions]="{standalone: true}" [(ngModel)]="work.description" maxlength="1000" rows="3"></textarea>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary education_add__btn"
                                    (click)="addWorkExperience()">Add</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="form-group">
                <label for="inputCity">City</label>
                <input type="text" name="city" formControlName="city" class="form-control" id="inputCity"
                    placeholder="City">
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" name="address" formControlName="address" class="form-control" id="inputAddress"
                    placeholder="1234 Main St, home">
            </div>
            <div class="form-group">
                <label for="example-tel-input">Telephone</label>
                <input class="form-control" name="tel" formControlName="telephone" type="tel" value="+374"
                    id="example-tel-input">
            </div>
            <!-- <div class="form-group">
                <label for="example-date-input" class="col-3 col-form-label">Start Date</label>
                <div class="col-10">
                    <input class="form-control" name="starting_date" type="date" value="2020-02-01" id="example-date-input">
                </div>
            </div> -->
            <div class="form-group mt-3">
                <label class="mr-4">Upload your CV:
                    <!-- <span class="reqField">*</span> -->
                </label>
                <input type="file" name="file" (change)="fileChange($event)" accept=".pdf">
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>

    </div>
</div>