@import '../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

.form_block {
  background: aliceblue;

  .container {
    max-width: 1170px;

    .photo_section {
      img {
        max-height: 160px;
        margin-bottom: 19px;
      }
    }
  }

}

h1 {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.reqField {
  color: red;
}

.education_name__input,
.education_add__btn,
.education_remove__btn {
  height: 54px;
}

.education_add__btn {
  width: 100%;
}

.example-form {
  min-width: 150px;
  // max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}


.nb-theme-default nb-checkbox.status-basic .text {
  padding-left: 10px;
}