<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                Statuses
            </nb-card-header>
        
            <nb-card-body>
                <ng2-smart-table [settings]="settings" [source]="sourceStatus" 
                (deleteConfirm)="onDeleteStatus($event)"
                (editConfirm)="onEditStatus($event)"
                (createConfirm)="onCreateStatus($event)"
                >
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <div class="color_picker">
            <color-sketch [color]="state"  (onChangeComplete)="changeComplete($event)"></color-sketch>
        </div>
    </div>
    <div class="col-1"><strong>{{current_color}}</strong></div>
</div>
