<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Vacancy</nb-card-header>
      <nb-card-body>
        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth [(ngModel)]="vacancy.metaTitle" placeholder="Meta title">
          <input type="text" nbInput fullWidth [(ngModel)]="vacancy.metaDescription" placeholder="Meta description">
        </div>
        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth [(ngModel)]="vacancy.ogType" placeholder="Og-type">
          <input type="text" nbInput fullWidth [(ngModel)]="vacancy.ogTitle" placeholder="Og-title">
        </div>
        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth [(ngModel)]="vacancy.ogDescription" placeholder="Og-description">
          <input type="text" nbInput fullWidth [(ngModel)]="vacancy.ogImage" placeholder="Og-image">
        </div>
        <input type="text" nbInput fullWidth [(ngModel)]="vacancy.vacancyTitle" placeholder="Vacancy title">
        <input type="text" nbInput fullWidth [(ngModel)]="vacancy.url" placeholder="Url" (keyup)="checkUrlReg()">
        <p class="error-message" *ngIf="errorRegUrl">{{errorRegUrl}}</p>

        <!-- 
        (yearSelected)="chosenYearStart($event)"
        (monthSelected)="chosenMonthStart($event, sd)" -->

        <div class="date_Block">
          <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="sd" [max]="startMaxDate ? vacancy.endD : today"
              [formControl]="vacancy.startD">
            <mat-datepicker-toggle matSuffix [for]="sd"></mat-datepicker-toggle>
            <mat-datepicker #sd startView="multi-year" panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="ed" [min]="vacancy.startD" [formControl]="vacancy.endD">
            <mat-datepicker-toggle matSuffix [for]="ed"></mat-datepicker-toggle>
            <mat-datepicker #ed startView="multi-year" panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>
        </div>

        <div class="date_Block">
          <div class="photo_upload">
            <div class="photo_section"><img id="smallSquareImage" /></div>
            <label class="mr-4">Small Square image:
            </label>
            <input type="file" name="file" class="photoFile" (change)="photoChange($event, 'smallSquareImage')"
              accept=".jpg, .jpeg, .png">
             <p><strong>(360px (1:1))</strong></p> 
          </div>
          
          <div class="photo_upload">
            <div class="photo_section"><img id="smallRectangularImage" /></div>
            <label class="mr-4">Small Rectangular image:
            </label>
            <input type="file" name="file" class="photoFile" (change)="photoChange($event, 'smallRectangularImage')"
              accept=".jpg, .jpeg, .png">
              <p><strong>(width 545px (9:4 ))</strong></p>
          </div>

          <div class="photo_upload">
            <div class="photo_section"><img id="bigImage" /></div>
            <label class="mr-4">Big image:
            </label>
            <input type="file" name="file" class="photoFile" (change)="photoChange($event, 'bigImage')"
              accept=".jpg, .jpeg, .png">
              <p><strong>(width 760px (9:4))</strong></p>
          </div>
        </div>

        <textarea rows="5" nbInput fullWidth shape="round" [(ngModel)]="vacancy.shortDescription"
          placeholder="Short description"></textarea>

        <nb-card>
          <nb-card-header>
            Long description
          </nb-card-header>
          <nb-card-body>
            <ckeditor [config]="{ extraPlugins: 'divarea', height: '320' }" [(ngModel)]="vacancy.longDescription">
            </ckeditor>
          </nb-card-body>
        </nb-card>

        <p class="error-message" *ngIf="errorText">{{errorText}}</p>

        <button type="button" nbButton status="success" (click)="save()">SAVE</button>

      </nb-card-body>
    </nb-card>
  </div>
</div>