<header_way2up></header_way2up>

<div class="container">
  <section class="candidate_info mt-5">
    <h1>MY CVS</h1>
    <button type="button" class="btn btn-success" (click)="createCV()">Create New CV</button><br><br>
    <table class="table">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Position</th>
          <th>Date</th>
          <th>Skills</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of candidates, let i = index">
          <td><img src="{{candidate.photoName}}" alt="img" width="100"></td>
          <td>{{candidate.position}}</td>
          <td>{{candidate.date}}</td>
          <td>
            <span  *ngFor="let skill of candidate.skills">
              {{skill.skill}}, 
            </span>
          </td>
          <td><button type="button" class="btn btn-warning" (click)="updateCV(candidate._id)">Update</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteCV(candidate._id)">Delete</button></td>
        </tr>
       
      </tbody>
    </table>
    
</section>
</div>


<footer_way2up class="footer"></footer_way2up>