<div class="row">
    <div class="col-6">
        <nb-card>
            <nb-card-header>
                Skills
            </nb-card-header>
        
            <nb-card-body>
                <ng2-smart-table [settings]="settingsSkills" [source]="source" 
                (deleteConfirm)="onDeleteSkill($event)"
                (editConfirm)="onEditSkill($event)"
                (createConfirm)="onCreateSkill($event)"
                >
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-6">
        <nb-card>
            <nb-card-header>
                Positions
            </nb-card-header>
        
            <nb-card-body>
                <ng2-smart-table [settings]="settingsPositions" [source]="sourcePosition" 
                (deleteConfirm)="onDeletePosiotion($event)"
                (editConfirm)="onEditPosiotion($event)"
                (createConfirm)="onCreatePosiotion($event)"
                >
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>
